   /* wildcard styling */
	* {
		box-sizing: border-box;
	}
	
	/* padding for whole body */
	body {
		padding: 15px;
        background-color: rgb(232,237,237);
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-image: url(./assets/photo-1531685250784-7569952593d2.avif);
        object-fit: cover;
	}
	
	/* styling body */
	.container {
		max-width: 1200px;
		margin: auto;
	}
	
	h1,h2 {
		color: rgb(71,90,132);
	}
	
	/* anchor tag decoration */
	a {
		text-decoration: none;
		color: rgb(71,90,132);
	}
	
	a:hover {
		color: lightblue;
	}
	
	/* paragraph tag decoration */
	p {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 4;
		overflow: hidden;

	}
	
	/* row and column decoration */
	.row {
		margin: 0px -18px;
		padding: 8px;
	}
	
	.row > .column {
		padding: 6px;
	}
	
	.column {
		float: left;
		width: 25%;
	}
	
	.row:after {
		content: "";
		display: table;
		clear: both;
	}
	
	/* content decoration */
	.content {
		background-color: white;
		padding: 10px;
		border: 1px solid gray;
	}

    .column:hover {
        background-color: black;
    }

    .icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
        width: 100vw;
      }

      #twitter,#github,#facebook {
        font-size: 2.8em;
        background-color: #18191f;
        color: #fff;
        border-radius: 30px;
        padding: 11px 19px;
        margin: 0 40px;
        animation: animate 3s linear infinite;
        text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff, 0 0 200px #0072ff;
    }

    #twitter {
        animation-delay: 0.3s;
    }
    
    #facebook {
        animation-delay: 0.7s;
    }
    
    #github {
        animation-delay: 0.1s;
    }
      

      @keyframes animate {
        from {
          filter: hue-rotate(0deg);
        }
        to {
          filter: hue-rotate(360deg);
        }
      }


